body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bar:hover {
 fill: lightgreen;
}


.tool {
    visibility: hidden;
}

.tool:hover { 
    visibility: visible;
}
